# --- LOGS & DEBUG ---
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# --- DEPENDENCIES & BUILD ---
node_modules
dist
dist-ssr
build
out
.vercel
.netlify

# --- ENVIRONMENT VARIABLES (SUPER PENTING) ---
# Blokir semua file yang berawalan .env
.env
.env.*
# TAPI, izinkan file example ini masuk (whitelist)
!.env.example
!.env.test.example

# --- SECURITY & KEYS (TAMBAHAN BARU) ---
# Mencegah upload private keys atau sertifikat secara tidak sengaja
*.pem
*.pub
*.key
*.crt
*.ca-bundle
*.p12

# --- TESTING & COVERAGE (TAMBAHAN BARU) ---
coverage
.nyc_output

# --- EDITOR & OS JUNK ---
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
Thumbs.db
ehthumbs.db